<div class="subtab-menu">
    <a [routerLink]="['panel']" 
        routerLinkActive="active" 
        class="subtab-button text-decoration-none">
        <i class="fas fa-users me-2"></i> Panel
    </a>
    <a [routerLink]="['dashboard']" 
        routerLinkActive="active" 
        class="subtab-button text-decoration-none">
        <i class="fas fa-chart-bar me-2"></i> Dashboard
    </a>

    <a [routerLink]="['vistas']" 
        routerLinkActive="active" 
        class="subtab-button text-decoration-none"
        *ngIf="!isTenant()">
        <i class="fas fa-cog me-2"></i> Motor de planillas
    </a>

    <a [routerLink]="['prediccion']" 
        routerLinkActive="active" 
        class="subtab-button text-decoration-none">
        <i class="fas fa-arrow-trend-up me-2" ></i> Prediccion
    </a>
</div>

<div class="sub-content">
  <router-outlet></router-outlet>
</div>